module.exports = {
  db: {
    host: '{{ mysql_config.host }}',
    user: '{{ mysql_config.user }}',
    password: '{{ mysql_config.password }}',
    database: '{{ mysql_config.database }}',
    port: {{ mysql_config.port }}
  },
  app: {
    port: 8080
  }
};