[Unit]
Description=Movie Analyst API
After=network.target

[Service]
WorkingDirectory=/opt/movie-analyst-api
ExecStart=/bin/bash -c 'source /home/adminuser/.nvm/nvm.sh && nvm use 16 && node server.js'
Restart=always
User=adminuser
Environment=NODE_ENV=production
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=movie-analyst-api

[Install]
WantedBy=multi-user.target
