[Unit]
Description=Movie Analyst API
After=network.target

[Service]
WorkingDirectory={{ app_path }}
Environment=NODE_ENV=production
Environment=PORT=8080
Environment=DB_HOST={{ db_host }}
Environment=DB_USER={{ db_user }}
Environment=DB_PASS={{ db_password }}
Environment=DB_NAME={{ db_name }}
ExecStart=/usr/bin/node server.js
Restart=always
RestartSec=10
User=adminuser
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=movie-api

[Install]
WantedBy=multi-user.target